<div id="Boxo">
        <h2 id="centy">
            To Do List
        </h2>
        <img class="logo" src = "http://ww1.prweb.com/prfiles/2015/08/24/13706165/codenow%20logo%20large.png" title="codenow logo">

        <ul>
           <a href="show/1"  style="text-decoration: none;"> <li><input type="checkbox">Study for Geometry Quiz  <span>[Pomodoro Time]</span></li></a>
    
            <li>
                <input type="checkbox">
               <a href="show/2"> Feed Cat</a>  
                <span class="Pomo">[Pomodoro Time]</span>
            </li>
            <li>
                <input type="checkbox">
                <a href="show/3">Sleep  </a>
                <span class="Pomo">[Pomodoro Time]</span>
            </li>
            <li>
                <input type="checkbox">
               <a href="show/4"> Finish Processing Game  </a>
                <span class="Pomo">[Pomodoro Time]</span>
            </li>
            
              <li>
                <input type="checkbox">
               <a href="show/5"> Take out the trash  </a>
                <span class="Pomo">[Pomodoro Time]</span>
            </li>
        </ul>
      
        
           <div id="todoform">
        <input type ="text" placeholder="Activity Name">
        
        <input type = "number" placeholder="Time it will take">
    
        <input type  = "submit" value = "Submit Activity">
        </div>
    </div>
    <br> 
    
    <%=@math%>