   <h1>id <%=@id%></h1>
    <h3><%=@todo_description%></h3>
    <h6 id="date" style="margin-left: 25px">date added</h6>
    <h4><%=@todo_pomodoro%></h3>
  <div id="info"></div>
  </textarea>
  <div style="display:inline-block; margin-left: 25px">
 <input type="submit" value="Complete">

  <input type="submit" value="Edit">
  <input type="submit" value="Delete">
  </div>
  <a href="index.html">Home</a>