<h6 id="date" style="margin-left: 25px">date added</h6>
    <h4><%=@todo.pomodoro_estimate%> Pomodoros</h3>
  <div id="info"><p><%=@todo.description%></p></div>
  </textarea>
  <div style="display:inline-block; margin-left: 25px">
       
       </div>
 <input type="submit" value="Complete">
<a href="/todo/edit/<%=@todo.id%>">
  <input type="submit" value="Edit">
  </a>
  <a href="/todo/destroy/<%=@todo.id%>">
     <input type="submit" value="Delete">
  </a>
     
  </div>
  <a href="/todo/index">Home</a>
  
  